nav {
    display: flex;
    justify-content: space-between;

    .logo-img {
        width: 80px !important;
        height: auto !important;
        display: block;
    }

    ul {
        display: flex;
        flex-direction: row;
    }
}